<div class="map">
  <img ngSrc="assets/images/BunnyKingdomBoard.jpg" priority alt="Bunny kingdom board" height="1174" width="1173">

  <button
    *ngFor="let button of mapGrids; let i = index"
    [disabled]="!button.open"
    [ngClass]="button.open? 'grid-button' : button.grail? 'grid-button-grail' : 'grid-button-closed'"
    [style.top.px]="calculateTop(i)"
    [style.left.px]="calculateLeft(i)"
    (click)="markGrid(i)">
    <div [ngClass]="(!button.open && button.grail)? 'grid-label-grail' : 'grid-label'">
      {{ button.label }}
    </div>
  </button>

</div>

<div class='board-top'>
  <button
    *ngFor="let button of roundButtons; let i = index"
    [ngClass]="(numberOfRoundsEnded === i) ? 'round-button' : 'round-button-disabled'"
    [disabled]="numberOfRoundsEnded !== i"
    (click)="changeRound(i)">{{button}}
  </button>
</div>

<div class='board-bottom'>
  <div class="board-container">
    <span class="board-title">Clues</span>
    <div class="clue-container-first">
      <span class="board-title">Two to Three steps</span>
      <div class="flex-container">
        <ng-container *ngFor="let clue of clueGrids | slice:0:2" >
          <div *ngIf ="clue.area === areas.PLAINS" class="image-container">
            <img ngSrc="assets/images/Plains.png" alt="Plains" height="94" width="96">
          </div>
          <div *ngIf ="clue.area === areas.FIELD" class="image-container">
            <img ngSrc="assets/images/Field.png" alt="Field" height="98" width="95">
          </div>
          <div *ngIf ="clue.area === areas.FOREST" class="image-container">
            <img ngSrc="assets/images/Forest.png" alt="Forest" height="95" width="96">
          </div>
          <div *ngIf ="clue.area === areas.WATER" class="image-container">
            <img ngSrc="assets/images/Water.png" alt="Water" height="99" width="93">
          </div>
          <div *ngIf ="clue.area === areas.MOUNTAIN" class="image-container">
            <img ngSrc="assets/images/Mountain.png" alt="Mountain" height="94" width="96">
          </div>
          <div *ngIf ="clue.area === areas.CITY" class="image-container">
            <img ngSrc="assets/images/City.png" alt="City" height="95" width="95">
          </div>
        </ng-container>
      </div>
    </div>
    <div class="clue-container-second">
      <span class="board-title">One to Two steps</span>
      <div class="flex-container">
        <ng-container *ngFor="let clue of clueGrids | slice:2: 4" >
          <div *ngIf ="clue.area === areas.PLAINS" class="image-container">
            <img ngSrc="assets/images/Plains.png" alt="Plains" height="94" width="96">
          </div>
          <div *ngIf ="clue.area === areas.FIELD" class="image-container">
            <img ngSrc="assets/images/Field.png" alt="Field" height="98" width="95">
          </div>
          <div *ngIf ="clue.area === areas.FOREST" class="image-container">
            <img ngSrc="assets/images/Forest.png" alt="Forest" height="95" width="96">
          </div>
          <div *ngIf ="clue.area === areas.WATER" class="image-container">
            <img ngSrc="assets/images/Water.png" alt="Water" height="99" width="93">
          </div>
          <div *ngIf ="clue.area === areas.MOUNTAIN" class="image-container">
            <img ngSrc="assets/images/Mountain.png" alt="Mountain" height="94" width="96">
          </div>
          <div *ngIf ="clue.area === areas.CITY" class="image-container">
            <img ngSrc="assets/images/City.png" alt="City" height="95" width="95">
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>






