.map {
  position: relative;
  display: inline-block;
}

.grid-button, .grid-button-closed, .grid-button-grail, .grid-label, .grid-grail, .shovel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.grid-button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.grid-button:hover {
  background-color: rgba(255, 215, 0, 0.2); /* Glowing background */
  border: 2px solid gold;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.8); /* Bright gold glow effect */
  .grid-label {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s 0s; /* Smooth fade-in */
  }
}

.grid-button:active {
  transform: scale(0.95);
}

.grid-button-closed {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.5);
  border: 2px solid red;
}

.grid-label {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0s 0.3s; /* Smooth fade-in */
  font-size: 30px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  color: #ffffff;
  text-shadow:
    1.5px 1.5px 0 #000000,
    -1.5px -1.5px 0 #000000,
    1.5px -1.5px 0 #000000,
    -1.5px 1.5px 0 #000000,   /* Four directions of shadow with 1.5px offset for a thicker edge */
    0 0 15px;
}

.grid-button-grail {
  position: absolute;
}

.round-button {
  background: url('/assets/images/WoodenBackground.png') center/cover;
  cursor: pointer;
  transition: 0.2s;
}

.round-button-disabled {
  background: #4E3B31;
}

.round-button, .round-button-disabled {
  position: relative;
  top: 200px;
  left: 50px;
  width: 250px;
  border: 4px solid #5A3E1B;
  padding: 12px 24px;
  margin-bottom: 20px;
  font-family: 'Cinzel Decorative', fantasy;
  font-size: 18px;
  color: #fff1df;
  text-shadow: 1px 1px 2px #3e2a12;
  box-shadow: inset -6px -6px 4px rgba(0, 0, 0, 0.5),
  inset 6px 6px 4px rgba(255, 255, 255, 0.2),
  0 4px 6px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.round-button:hover {
  background: #6B3A1B;
  box-shadow: inset -4px -4px 3px rgba(0, 0, 0, 0.7),
  inset 4px 4px 3px rgba(255, 255, 255, 0.1),
  0 2px 4px rgba(0, 0, 0, 0.6);
  transform: scale(1.05);
}

.round-button:active {
  transform: scale(1);
}

.board-container {
  position: relative;
  top: 130px;
  text-align: center;
}

.board-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  color: rgb(228, 220, 220);
  text-shadow:
    1.5px 1.5px 0 #000000,
    -1.5px -1.5px 0 #000000,
    1.5px -1.5px 0 #000000,
    -1.5px 1.5px 0 #000000,   /* Four directions of shadow with 1.5px offset for a thicker edge */
    0 0 15px;
}

.clue-container-first, .clue-container-second {
  position: absolute;
}

.clue-container-first {
  top: 60px;
  left: 50px;
}

.clue-container-second {
  top: 255px;
  left: 50px;
}

.board-top, .board-bottom {
  background-repeat: no-repeat;
  position: absolute;
  left: 1200px;
  height: 600px;
  width: 340px;
  background-image: url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-top-chains"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-plaque"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-corners"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-horizontal-sides"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-vertical-sides"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-holes"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-horizontal-sides-depth"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-corners-depth"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-horizontal-sides-shadow"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-vertical-sides-shadow"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-corners-shadow"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-holes-shadow"), url("https://gistcdn.githack.com/andresangelini/d57f93b605eec432fdea98b969aaac72/raw/f0ee9369b781dcf01eefc37575a99d8e5dbe7b35/board.svg#l-bulletin-planks");
  background-position: center -22px, center bottom, center bottom, center bottom, center calc(100% - (56px - 9.4px) - 6.5px), center bottom, center bottom, center bottom, center bottom, center calc(100% - (56px - 9.4px) - 6.5px), center bottom, center bottom, center bottom;
  background-size: calc((100% - (56px - 9.4px) * 2) * 0.8) calc(((100% - 80%) / 1) + 22px * 2), 35% 80%, 100% 80%, calc(100% - (56px - 9.4px) * 2) 80%, 100% calc(80% - (56px - 9.4px) * 2 - 6.5px), calc((100% - (56px - 9.4px) * 2) * 0.8) 80%, calc(100% - (56px - 9.4px) * 2) 80%, 100% 80%, calc(100% - (56px - 9.4px) * 2) 80%, 100% calc(80% - (56px - 9.4px) * 2 - 6.5px), 100% 80%, calc(((100% - (56px - 9.4px) * 2) * 0.8) + 2.16px * 2) 80%, 100% 80%;
}

.board-top {
  top: -50px;
  z-index: 2;
}

.board-bottom {
  top: 520px;
  z-index: 1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-left: 25px;
}

.image-container {
  display: inline-block;
}

.settings {
  position: absolute;
  left: 1510px;
  top: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.settings:hover {
  transform: scale(1.05);
}

.settings:active {
  transform: scale(1);
}

.settings-menu {
  position: absolute;
  display: inline-block;
  left: 1600px;
  top: -340px;
  transition: top 0.5s ease-in-out;
  text-align: center;
  width: 217px;
  height: 170px;
  align-items: center;
  justify-content: center;
}

.settings-menu.open {
  top: 0;
}


.settings-menu img {
  position: absolute;
  top: 0;
  left: 0;
}

.player-settings-text, .player-count-container, .sound-settings-container {
  position: relative;
  font-family: 'Cinzel Decorative', serif;
  font-weight: bold;
  color: rgb(228, 220, 220);
  text-shadow:
    1.5px 1.5px 0 #000000,
    -1.5px -1.5px 0 #000000,
    1.5px -1.5px 0 #000000,
    -1.5px 1.5px 0 #000000,
    0 0 15px;
}

.player-settings-text {
  font-size: 25px;
  top: 40px;
}

.player-count-container {
  display: flex;
  top: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  left: 30px;
  font-size: 20px;
}

.player-count-button-container {
  font-size: 17px;
  color: rgb(228, 220, 220);
  background: transparent;
  cursor: pointer;
  border: none;
  display: inline-flex;
}

.player-count-button {
  margin: 0;
}

.sound-settings-container {
  font-size: 25px;
  top: 80px;
}

.dig-sound-button {
  font-size: 17px;
  color: rgb(228, 220, 220);
  background: transparent;
  cursor: pointer;
  border: none;
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
}
