<div class="map">
  <img ngSrc="assets/images/BunnyKingdomBoard.jpg" priority alt="Bunny kingdom board" height="1174" width="1173">

  <button
    *ngFor="let button of mapGrids; let i = index"
    [disabled]="!button.open"
    [ngClass]="button.open? 'grid-button' : button.grail? 'grid-button-grail' : 'grid-button-closed'"
    [style.top.px]="calculateTop(i)"
    [style.left.px]="calculateLeft(i)"
    (click)="markGrid(i)">
    <div [ngClass]="(!button.open && button.grail)? 'grid-label-grail' : 'grid-label'">
      {{ button.label }}
    </div>
  </button>

</div>

<div class='board'>
  <button
    *ngFor="let button of roundButtons; let i = index"
    class="round-button"
    (click)="changeRound()">{{button}}
  </button>
</div>





